# version: '3.9'


services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    extra_hosts:
      - "mail.eventaflow.eu:185.220.172.65"
    restart: always

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    environment:
      - DOCKER_API_VERSION=${DOCKER_API_VERSION:-1.44}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 300
    restart: always

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400

volumes:
  postgres_data: