[project]
name = "time-registry-webversion"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "django>=6.0",
    "openpyxl>=3.1.5",
    "psycopg>=3.3.2",
]
